.progress {
	@apply relative mb-2 text-center;
	.overflow {
		@apply relative overflow-hidden w-52 h-24  mx-auto;
		//		width: 12rem;
		
	}
	
	.bar {
		@apply absolute top-0 left-0 w-52  h-52 rounded-full box-border;
		//		width: 12rem;
		//		box-shadow: 0px 10px 20px rgba(37, 12, 171, 0.3);
		//		border-image: linear-gradient(#0B0E7F, #0B95DD);
		border: 30px solid #fafafa;
		border-bottom-color: #6cf58c;
		border-right-color: #ffe300;
	}
	
	.percent {
		@apply font-semibold text-2xl -mt-10;
		color: #fafafa;
	}
}