.fees {
	@apply text-white px-5 w-64 pb-10 pt-12 rounded-2xl text-center relative;
	background-image: linear-gradient(45deg, #813bfb, #3f68fe);
	box-shadow: 0px 10px 20px rgba(37, 12, 171, 0.3);
	height: 410px;
	
	.icon {
		@apply text-5xl mb-4;
		> svg {
			@apply mx-auto;
		}
	}
	
	.name {
		@apply mb-1 font-light text-xs opacity-60;
	}
	
	.total {
		@apply text-lg;
	}
	
	
	&::after {
		content: '';
		@apply absolute h-7 rounded-b-xl  top-0;
		//		top: 50%;
		//		transform: translateY(-50%);
		width: 70%;
		left: 15%;
		z-index: 1;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
		background-image: linear-gradient(to top, #ebeffd, #dfe5fc);
	}
}