.item {
	@apply px-4 py-2 rounded-2xl relative cursor-default;
	background-color: #f2f7ff;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	
	&::before {
		content: '';
		@apply absolute w-full h-full rounded-2xl -bottom-1 left-0 transition-all;
		box-shadow: 0 10px 20px rgba(37, 12, 171, 0.3);
		z-index: -1;
		background-color: #b7c5f3;
	}
	
	&.color_1::after {
		background-image: linear-gradient(to top, #4978fa, #3a62d3);
	}
	
	&.color_2::after {
		background-image: linear-gradient(to top, #65caef, #4ca6c4);
	}
	
	&.color_3::after {
		background-image: linear-gradient(to top, #746fd6, #5d58b4);
	}
	
	&.color_4::after {
		background-image: linear-gradient(to top, #00d098, #00a97b);
	}
	
	
	&::after {
		content: '';
		@apply absolute w-5 h-20 rounded-l-xl -bottom-1 right-0 transition-all;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
		z-index: 1;
		box-shadow: inset 5px 4px 7px rgba(0, 0, 0, 0.2);
	}
	
	
	.icon {
		@apply text-stone-700 mb-2 text-3xl;
	}
	
	.name {
		@apply font-light mb-1 opacity-70;
	}
	
	.value {
		@apply text-base font-medium;
		min-height: 42.6px;
	}
}